<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="w3css4.css">
    <title>Kandla-Gatepass</title>
</head>
<body>    
    <div class="w3-cell-row" style="width: 15cm; height: 21cm; margin-left: auto; margin-right: auto; padding: 0%; left: 0; top: 0;">
        <div class="w3-cell w3-border-black w3-border">
            <table class="w3-table w3-small">
                <thead>
                    <tr rowspan="3">
                        <td colspan="10" class="w3-center"><img src="v-arjoon-logo.jpg" alt=""></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="5" class="w3-left-align" style="font-size: large;">Sr No:-25</td>                        
                        <td colspan="5" class="w3-right-align" style="font-size: large;">Date:-25-05-2022</td>
                    </tr>
                    <tr>
                        <td colspan="10" class="w3-right-align" style="font-size: large;">Shift:-1 <sup>st</sup></td>                        
                    </tr>
                    <tr>
                        <td colspan="4" class="w3-left-align" style="padding-bottom: 0%;font-size: large;">The Traffic Manager,</td>
                        <td colspan="6" class="" style="padding-bottom: 0%;font-size: large;">The Assistant,</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="w3-left-align" style="padding-bottom: 0%; padding-top: 0%;font-size: large;">Deendayal Port Authority,</td>
                        <td colspan="6" class="" style="padding-bottom: 0%; padding-top: 0%;font-size: large;">Commissioner of Customs,</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="w3-left-align" style="padding-bottom: 0%; padding-top: 0%; font-size: large;">NEW KANDLA.</td>
                        <td colspan="6" class="" style="padding-bottom: 0%; padding-top: 0%;font-size: large;">NEW KANDLA.</td>
                    </tr>                    
                    <tr>
                        <td colspan="10" class="w3-left-align" style="padding-top: 3%;font-size: large;">Dear Sir,</td>
                    </tr>
                    <tr>
                        <td colspan="10" class="w3-left-align w3-center" style="font-size: large;font-weight: bolder;">Sub.: Export/Import/Misc. Gate Pass</td>                        
                    </tr>
                    <tr>
                        <td colspan="10" style="font-size: large;">Kindly allow us to take in / out side the Dock area the material shown below.</td>
                    </tr>
                    <tr>
                        <td class="w3-left-align" style="padding-top: 0; padding-bottom:0%;font-size: large;">1.</td>
                        <td colspan="3" class="w3-left-align" style="padding-top: 0; padding-bottom:0%; font-size: large;">No. of Packages</td>
                        <td colspan="6" class="w3-border-black w3-border-bottom w3-left-align" style="padding-top: 0; padding-bottom:0%;"></td>
                    </tr>
                    <tr>
                        <td class="w3-left-align" style="padding-top: 0; padding-bottom:0%; font-size: large;">2.</td>
                        <td colspan="3" class="w3-left-align" style="padding-top: 0; padding-bottom:0%; font-size: large;">Des. of Goods</td>
                        <td colspan="6" class="w3-border-black w3-border-bottom w3-left-align" style="padding-top: 0; padding-bottom:0%;"></td>
                    </tr>
                    <tr>
                        <td class="w3-left-align" style="padding-top: 0; padding-bottom:0%;font-size: large;">3.</td>
                        <td colspan="3" class="w3-left-align" style="padding-top: 0; padding-bottom:0%;font-size: large;">By C.C. / Truck No.</td>
                        <td colspan="6" class="w3-border-black w3-border-bottom w3-left-align" style="padding-top: 0; padding-bottom:0%;"></td>
                    </tr>
                    <tr>
                        <td class="w3-left-align" style="padding-top: 0; padding-bottom:0%;font-size: large;">4.</td>
                        <td colspan="3" class="w3-left-align" style="padding-top: 0; padding-bottom:0%;font-size: large;">Marks.</td>
                        <td  class="w3-border-black w3-border-bottom w3-left-align" style="padding-top: 0; padding-bottom:0%;"></td>
                        <td class="w3-left-align" style="padding-top: 0; padding-bottom:0%; font-size: large;">Packing.</td>
                        <td colspan="3" class="w3-border-black w3-border-bottom w3-left-align" style="font-size: large; padding-top: 0; padding-bottom:0%;">01x40Kgs=40Kgs</td>
                    </tr>
                    <tr>
                        <td class="w3-left-align" style="padding-top: 0; padding-bottom:0%;font-size: large;">5.</td>
                        <td colspan="3" class="w3-left-align" style="padding-top: 0; padding-bottom:0%;font-size: large;">Driver's Name.</td>
                        <td colspan="6" class="w3-border-black w3-border-bottom w3-left-align" style="font-size: large; padding-top: 0; padding-bottom:0%;"></td>
                    </tr>
                    <tr>
                        <td class="w3-left-align" style="padding-top: 0; padding-bottom:0%; font-size: large;">6.</td>
                        <td colspan="4" class="w3-left-align" style="padding-top: 0; padding-bottom:0%; font-size: large;">Bill Of Entry/S.Bill No.</td>
                        <td colspan="5" class="w3-border-black w3-border-bottom w3-left-align" style="font-size: large; padding-top: 0; padding-bottom:0%;"></td>
                    </tr>
                    <tr>
                        <td class="w3-left-align" style="padding-top: 0; padding-bottom:0%;font-size: large;">7.</td>
                        <td colspan="3" class="w3-left-align" style="padding-top: 0; padding-bottom:0%;font-size: large;">Wharfage Entry No.</td>
                        <td  class="w3-border-black w3-border-bottom w3-left-align" style="font-size: large; padding-top: 0; padding-bottom:0%;"></td>
                        <td class="w3-left-align" style="padding-top: 0; padding-bottom:0%;font-size: large;">Date.</td>
                        <td colspan="3" class="w3-border-black w3-border-bottom w3-left-align" style="font-size: large; padding-top: 0; padding-bottom:0%;">25-05-2022</td>
                    </tr>
                    <tr>
                        <td class="w3-left-align" style="padding-top: 0; padding-bottom:0%;font-size: large;">8.</td>
                        <td colspan="3" class="w3-left-align" style="padding-top: 0; padding-bottom:0%;font-size: large;">Vessel Name.</td>
                        <td colspan="7" class="w3-border-black w3-border-bottom w3-left-align" style="padding-top: 0; padding-bottom:0%;"></td>
                    </tr>
                    <tr>
                        <td class="w3-left-align" style="padding-top: 0; padding-bottom:0%;font-size: large;">G.wt</td>
                        <td class="w3-border-black w3-border-bottom w3-left-align" style="font-size: large; padding-top: 0; padding-bottom:0%;">56840.000</td>
                        <td class="w3-left-align" style="padding-top: 0; padding-bottom:0%; font-size: large;">T.wt.</td>
                        <td class="w3-border-black w3-border-bottom w3-left-align" style="font-size: large; padding-top: 0; padding-bottom:0%;">15800.00</td>
                        <td class="w3-left-align" style="padding-top: 0; padding-bottom:0%; font-size: large;">N.wt.</td>
                        <td colspan="3" class="w3-border-black w3-border-bottom w3-left-align" style="font-size: large; padding-top: 0; padding-bottom:0%;">41040.000</td>
                    </tr>
                    <tr>
                        <td colspan="10" class="w3-left-align" style="font-size: large;">A/c. M/s.</td>
                    </tr>
                    <tr>
                        <td colspan="10" class="w3-left-align" style="font-size: large;">The above particular are true and correct to the best of our knowledge and belief</td>                        
                    </tr>
                    <tr>
                        <td colspan="5" class="w3-left-align" style="font-size: large;">Thanking you,</td>
                        <td colspan="5" class="w3-right-align" style="font-size: large;">Your's faithfully</td>
                    </tr>
                    <tr>
                        <td colspan="10" class="w3-right-align" style="font-weight: bolder; font-size: larger;">For, V.ARJOON</td>                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="jsFile.js"></script>
<script src="module.js"></script>
</html>