<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="w3css4.css">
    <title>Kandla-Gatepass</title>
</head>
<body>
    <div class="w3-border" style="height: 21cm; width: 15cm; margin-left: auto; margin-right: auto; padding-left: 1%; padding-right: 1%;">
        <div class="w3-center">
        <img src="v-arjoon-logo.jpg" alt=".">
        </div>
        <div class="w3-small">
        <div class="w3-cell-row" style="padding:0.5%">
            <div class="w3-cell w3-left-align">Sr No :-</div>
            <div class="w3-cell w3-left-align"></div>
            <div class="w3-cell w3-right-align">Date:-</div>
            <div class="w3-cell w3-right-align"></div>
        </div>
        <div class="w3-cell-row" style="padding:0.5%;">
            <div class="w3-cell w3-right-align">Shift:-</div>
            <div class="w3-cell w3-right-align"></div>
        </div>
        <div class="w3-cell-row" style="padding:0.5%;">
            <div class="w3-cell w3-left-align">
                The Traffice Manager,<br>
                Deendayal Port Authority,<br>
                NEW KANDLA.
            </div>
            <div class="w3-cell w3-right-align">
                The Assistant<br>
                Commissioner of Customs,<br>
                NEW KANDLA.
            </div>
        </div>
        <div class="w3-cell-row" style="padding:0.5%;">
            <div class="w3-cell w3-left-align">
                Dear Sir,
            </div>
        </div>
        <div class="w3-cell-row" style="padding: 0.5%;">
            <div class="w3-cell w3-center" style="font-weight: bold; font-style:italic">Sub : Export/Import/Misc. Gate Pass</div>
        </div>
        <div class="w3-cell-row" style="padding:1%">
            <div class="w3-cell">
                Kindly allow us to take in / out side the Dock area the material shown below.
            </div>
        </div>
        <div class="w3-cell-row" style="padding: 0.5%;">
            <div class="w3-cell l1 w3-left-align" style="width: 6%;">1.</div>
            <div class="w3-cell l4 w3-left-align" style="width: 30%;">No. of Packages</div>
            <div class="w3-cell l7 w3-border-bottom w3-border-black">:-</div>
        </div>
        <div class="w3-cell-row" style="padding: 0.5%;">
            <div class="w3-cell w3-left-align" style="width: 6%;">2.</div>
            <div class="w3-cell l4 w3-left-align" style="width: 30%;">Des. of Goods</div>
            <div class="w3-rest w3-border-bottom w3-border-black">:-</div>
        </div>
        <div class="w3-cell-row" style="padding: 0.5%;">
            <div class="w3-cell w3-left-align" style="width: 6%;">3.</div>
            <div class="w3-cell w3-left-align" style="width: 30%;">By C.C./Truck No.</div>
            <div class="w3-cell w3-border-bottom w3-border-black">:-</div>
        </div>
        <div class="w3-cell-row" style="padding: 0.5%;">
            <div class="w3-cell w3-left-align" style="width: 6%;">4.</div>
            <div class="w3-cell w3-left-align" style="width: 30%;">Marks</div>
            <div class="w3-cell w3-border-bottom w3-border-black" style="width: 35%;">:-</div>
            <div class="w3-cell w3-left-align" style="width: 10%;">Packing</div>            
            <div class="w3-cell w3-border-bottom w3-border-black " style="width: 20%;">:-</div>
        </div>
        <div class="w3-cell-row" style="padding: 0.5%;">
            <div class="w3-cell w3-left-align" style="width: 6%;">5.</div>
            <div class="w3-cell w3-left-align" style="width: 30%;">Driver's Name</div>
            <div class="w3-cell w3-border-bottom w3-border-black">:-</div>
        </div>
        <div class="w3-cell-row" style="padding: 0.5%;">
            <div class="w3-cell w3-left-align" style="width: 6%;">6.</div>
            <div class="w3-cell w3-left-align" style="width: 30%;">BOE/SBill No.</div>
            <div class="w3-cell w3-border-bottom w3-border-black" style="width: 35%;">:-</div>
            <div class="w3-cell w3-left-align" style="width: 10%;">Date.</div>
            <div class="w3-cell w3-border-bottom w3-border-black" style="width: 24%;">:-</div>
        </div>
        <div class="w3-cell-row" style="padding: 0.5%;">
            <div class="w3-cell w3-left-align" style="width: 6%;">7.</div>
            <div class="w3-cell w3-left-align" style="width: 30%;">Wharfage Entry No</div>
            <div class="w3-cell w3-border-bottom w3-border-black" style="width: 35%;">:-</div>
            <div class="w3-cell w3-left-align" style="width: 10%;">Date.</div>
            <div class="w3-cell w3-border-bottom w3-border-black" style="width:24%">:-</div>
        </div>
        <div class="w3-cell-row" style="padding: 0.5%;">
            <div class="w3-cell w3-left-align" style="width: 6%;">8.</div>
            <div class="w3-cell w3-left-align" style="width: 30%;">Vessel Name</div>
            <div class="w3-cell w3-border-bottom w3-border-black" style="width: 20%;">:-</div>
            <div class="w3-cell w3-left-align" style="width: 20%;">Date.</div>
            <div class="w3-cell w3-border-bottom w3-border-black " style="width: 30%;">:-</div>
        </div>
        <div class="w3-cell-row" style="padding: 0.5%;">
            <div class="w3-cell w3-left-align" style="width: 6%;">9.</div>
            <div class="w3-cell w3-left-align" style="width: 10%;">G.Wt</div>
            <div class="w3-cell w3-border-bottom w3-border-black" style="width: 20%;">:-</div>
            <div class="w3-cell w3-left-align" style="width: 10%;">T.wt.</div>
            <div class="w3-cell w3-border-bottom w3-border-black " style="width: 20%;">:-</div>
            <div class="w3-cell w3-left-align" style="width: 10%;">N.wt.</div>
            <div class="w3-cell w3-border-bottom w3-border-black " style="width: 24%;">:-</div>
        </div>
        <div class="w3-cell-row" style="padding: 0.5%;">
            <div class="w3-cell " style="width: 16%;">A/c.M/s.</div>
            <div class="w3-cell w3-border-bottom w3-border-black ">:-</div>
        </div>
        <div class="w3-row" style="padding: 0.5%;">
            <div class="w3-col 12">The above particular are true and correct to the best of our knowledge and belief.</div>
        </div><br>
        <div class="w3-row" style="padding: 0.5%;">
            <div class="w3-col l3 w3-left-align">Thanking you,</div>
            <div class="w3-rest w3-right-align">Your's faithfully</div>
        </div>
        <div class="w3-row" style="padding: 0.5%s;">
            <div class="w3-col l10 w3-right-align" style="font-size: medium;">For.</div>
            <div class="w3-col l2 w3-right-align" style="font-weight:bolder; font-size: medium;">V.ARJOON</div>
        </div>
    </div>
    </div>    
</body>
<script src="jsFile.js"></script>
<script src="module.js"></script>
</html>